.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
rebel.xml
.settings/*
/indexes/*
/target/*
*/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/out/*
/gradle
gradlew
gradlew.bat
proguard.cfg
catalina.*/*

