<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cycredit.dao.mapper.UniMemoMapper">
  <resultMap id="BaseResultMap" type="com.cycredit.dao.entity.UniMemo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="relation_department" jdbcType="VARCHAR" property="relationDepartment" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="department_count" jdbcType="INTEGER" property="departmentCount" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="operator" jdbcType="BIGINT" property="operator" />
    <result column="operator_area_code" jdbcType="VARCHAR" property="operatorAreaCode" />
    <result column="operatror_department_code" jdbcType="VARCHAR" property="operatrorDepartmentCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, source, relation_department, type, tags, department_count, status, operator, 
    operator_area_code, operatror_department_code, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.cycredit.dao.entity.UniMemoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from uni_memo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from uni_memo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from uni_memo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cycredit.dao.entity.UniMemoExample">
    delete from uni_memo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cycredit.dao.entity.UniMemo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into uni_memo (name, source, relation_department, 
      type, tags, department_count, 
      status, operator, operator_area_code, 
      operatror_department_code, create_time, 
      update_time)
    values (#{name,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{relationDepartment,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, #{departmentCount,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT}, #{operator,jdbcType=BIGINT}, #{operatorAreaCode,jdbcType=VARCHAR}, 
      #{operatrorDepartmentCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cycredit.dao.entity.UniMemo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into uni_memo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="relationDepartment != null">
        relation_department,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="departmentCount != null">
        department_count,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="operatorAreaCode != null">
        operator_area_code,
      </if>
      <if test="operatrorDepartmentCode != null">
        operatror_department_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="relationDepartment != null">
        #{relationDepartment,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="departmentCount != null">
        #{departmentCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=BIGINT},
      </if>
      <if test="operatorAreaCode != null">
        #{operatorAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="operatrorDepartmentCode != null">
        #{operatrorDepartmentCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cycredit.dao.entity.UniMemoExample" resultType="java.lang.Long">
    select count(*) from uni_memo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update uni_memo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null">
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.relationDepartment != null">
        relation_department = #{record.relationDepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.tags != null">
        tags = #{record.tags,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentCount != null">
        department_count = #{record.departmentCount,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.operator != null">
        operator = #{record.operator,jdbcType=BIGINT},
      </if>
      <if test="record.operatorAreaCode != null">
        operator_area_code = #{record.operatorAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="record.operatrorDepartmentCode != null">
        operatror_department_code = #{record.operatrorDepartmentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update uni_memo
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=VARCHAR},
      relation_department = #{record.relationDepartment,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      tags = #{record.tags,jdbcType=VARCHAR},
      department_count = #{record.departmentCount,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      operator = #{record.operator,jdbcType=BIGINT},
      operator_area_code = #{record.operatorAreaCode,jdbcType=VARCHAR},
      operatror_department_code = #{record.operatrorDepartmentCode,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cycredit.dao.entity.UniMemo">
    update uni_memo
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="relationDepartment != null">
        relation_department = #{relationDepartment,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="departmentCount != null">
        department_count = #{departmentCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=BIGINT},
      </if>
      <if test="operatorAreaCode != null">
        operator_area_code = #{operatorAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="operatrorDepartmentCode != null">
        operatror_department_code = #{operatrorDepartmentCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cycredit.dao.entity.UniMemo">
    update uni_memo
    set name = #{name,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      relation_department = #{relationDepartment,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      department_count = #{departmentCount,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      operator = #{operator,jdbcType=BIGINT},
      operator_area_code = #{operatorAreaCode,jdbcType=VARCHAR},
      operatror_department_code = #{operatrorDepartmentCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>